<div id="<%= DOMid %>">
    <div id="Sections">
        <ul>
            <li id="SectionList" class="k-state-active">
                Lista
            </li>
            <li id="SectionDetails">
                Detalhes
            </li>
            <li id="SectionInfos">
                Informações
            </li>
        </ul>
        <div id="SectionListContent">
            <br />
            <br />

            <div id="SectionListButtonsBar" class="btn-group"></div>

            <br />
            <br />

            <div id="GridSamples" class="responsive-grid"></div>
        </div>
        <div id="SectionDetailsContent">
            <br />
            <br />

            <div id="SectionDetailsButtonsBar" class="btn-group"></div>

            <br />
            <br />

            <div class="row" style="width:90%;">

                <div id="IdInput"></div>
                <div id="IdentificationInput"></div>
                <div id="EditionDateTimeInput"></div>

            </div>

            <div class="row" style="width:90%;">

                <div id="ReceiveDateInput"></div>
                <div id="ConclusionTimeInput"></div>
                <div id="TimeZoneIdInput"></div>
                <div id="ConclusionInput"></div>

            </div>
        </div>
        <div id="SectionInfosContent">
            <br />
            <br />

            <div id="GridInfos"></div>
        </div>
    </div>
</div>